.content-wrapper {
  width: calc(100% - 220px);
  margin: 13px;
  padding-top: 55px;

  .home-slider {
    min-height: 300px;

    .carousel__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
      }
    }

    .carousel__slide {
      // padding: 10px;
    }

    .carousel__prev,
    .carousel__next {
      box-sizing: content-box;
      border: 5px solid white;
    }
  }

  .home-content {
    margin-top: 20px;

    .category-header {
      .breadcrumb {
        @include font_style(15px, $black_63, 700);

        .child {
          &::before {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            margin: 1px 10px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }

    .category-body {
      .category-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .category-items {
          width: 18%;
          // height: 220px;
          padding: 5px;
          box-sizing: content-box;
          border-radius: 4px;
          text-decoration: none;

          .category-image {
            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .category-title {
            display: flex;
            justify-content: center;

            .category-link {
              @include font_style(16px, $black_63, 400);

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .section {
    .section-head {
      .breadcrumb {
        @include font_style(15px, $black_63, 700);
      }
    }

    .section-body {
      margin-top: 15px;

      .section-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .section-item-wrapper {
          width: 220px;
          height: 350px;
          box-sizing: content-box;
          border-radius: 4px;
          cursor: pointer;
          margin: 25px 4px;
          padding: 6px;

          &:hover {
            border: 1px solid $white_E7;
          }

          .section-item {
            padding: 5px;
            margin-bottom: 6px;
            border-radius: 4px;
            @include font_style(14px, $black_63);

            &:hover {
              border: 1px solid $white_E7;
            }

            .section-product {
              height: 278px;

              .product-img {
                img {
                  width: 190px;
                  height: 190px;
                }
              }

              .product-name {
                height: 70px;
                text-align: center;
                @include font_style(13px, #000, 500);
              }

              .overlay {
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                width: 218px;
                height: 288px;
                right: 5px;
                bottom: 270px;
                background-color: rgba(40,40,40,.75);
                border-radius: 4px;
                .product-manage-cart{
                  .add-text{
                    width: 100px;
                    position: relative;
                    @include font_style(20px, $white, 700);
                    text-align: center;
                    line-height: 1.5;
                  }
                  .cart-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                    .amount{  
                      @include font_style(18px, $white, 700);
                    }
                    .status{
                      @include font_style(15px, $white, 700);
                    }
                    .manage-quantity{
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      width: 140px;
                      margin: 40px 0;
                      .remove{
                        border: 3px solid $white;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 2px;
                        @include font_style(35px, $white, 700);
                        &:hover{
                          color: $orange_61;
                          border: 3px solid $orange_61;
                        }                   
                      }
                      .quantity{
                        @include font_style(55px, $orange_61, 700);
                      }
                      .add{
                        border: 3px solid $white_F8;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 2px;
                        @include font_style(22px, $white, 700);
                        &:hover{
                          color: $orange_61;
                          border: 3px solid $orange_61;
                        }     
                      }
                    }
                   }
                }
                .product-details {
                  position: absolute;
                  height: 22px;
                  width: 100%;
                  top: 286px;
                  background-color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                &.show {
                  display: flex;
                }
              }
            }
          }

          .section-price {
            text-align: center;

            .new-price {
              @include font_style(16px, $red_6E, 700);
              margin-right: 5px;
            }

            .old-price {
              @include font_style(13px, $black_63, 500);
              text-decoration: line-through;
            }
          }

          .section-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $white_E7;
            border-radius: 4px;
            padding: 4px;
            transition: all ease-in-out .15s;
            img {
              width: 24px;
            }

            p {
              @include font_style(14px, #129450, bold);
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}