.content-wrapper{
  width: calc(100% - 220px);
  margin: 13px;
  padding-top: 55px;
  .home-slider {
    min-height: 300px;
    .carousel__item {      
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: bottom;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0,0,0,.3);
      }
    }
    
    .carousel__slide {
      // padding: 10px;
    }
    
    .carousel__prev,
    .carousel__next {
      box-sizing: content-box;
      border: 5px solid white;
    }
  }
  .home-content {
    margin-top: 20px;
    .category-header{
      .breadcrumb {
        @include font_style(15px, $black_63, 700);
        .child{
          &::before{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            margin: 1px 10px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }
    .category-body{
      .category-wrapper{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .category-items{
          width: 190px;
          height: 220px;
          padding: 5px;
          box-sizing: content-box;
          border-radius: 4px;
          text-decoration: none;
          .category-image{
            img{
              width: 100%;
              object-fit: cover;
            }
          }
          .category-title{
            display: flex;
            justify-content: center;
            .category-link{
              @include font_style(16px, $black_63, 400);
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}