.content-wrapper{
  width: calc(100% - 220px);
  margin: 2px;
  .home-slider{
    min-height: 300px;
    .carousel__item {      
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    
    .carousel__slide {
      // padding: 10px;
    }
    
    .carousel__prev,
    .carousel__next {
      box-sizing: content-box;
      border: 5px solid white;
    }
  }
}