body {
  margin: 0;
  font-family: "segoe-ui";
} 

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  .menu-container {
    min-width: 220px;
    padding-top: 50px;
    &.hide {
      display: none;
    }
  
    &.show {
      display: block;
    }
  }
  .content-wrapper{
    width: 100%;
  }
  .cartbar-container{
    min-width: 318px;
    padding-top: 50px;
  }
}
