body {
  margin: 0;
} 

@font-face {
  font-family: 'robotoregular';
  src: url('./../../fonts/roboto-regular-webfont.woff') format('woff2'),
       url('./../../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}