.cartbar-wrapper {
  position: fixed;
  box-sizing: border-box;
  box-shadow: -2px 0 12px 0 rgba(143, 143, 143, .38);

  .cartbar-content {
    height: 100vh;
    .cartbar-btn {
      cursor: pointer;
      position: absolute;
      left: -18px;
      top: 40%;
      margin: auto;
      height: 70px;
      width: 16px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      color: #fff;
      background-color: #b7b7b7;
      border: 1px solid rgba(0,0,0,.1);
      &::before{
        content: "";
        width: 15px;
        height: 4px;
        background: #fff;
        display: block;
        position: absolute;
        -ms-transform: rotate(-65deg);
        -webkit-transform: rotate(-65deg);
        -moz-transform: rotate(-65deg);
        -o-transform: rotate(-65deg);
        transform: rotate(-65deg);
        margin-top: 38px;
      }
      &::after{
        content: "";
        width: 15px;
        height: 4px;
        background: #fff;
        display: block;
        position: absolute;
        -ms-transform: rotate(65deg);
        -webkit-transform: rotate(65deg);
        -moz-transform: rotate(65deg);
        -o-transform: rotate(65deg);
        transform: rotate(65deg);
        margin-top: 26px;
      }
    }
    .cartbar {
      width: 318px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .cartbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white_E7;
        padding: 8px 20px;

        .cart-info {
          display: flex;
          align-items: center;
          justify-content: center;
          @include font_style(15px, $black_63, 700);

          .cart-bag {
            width: 26px;
            object-fit: fill;
            margin-right: 10px;
          }
        }

        .btn-close {
          width: 80px;
          padding: 6px 0;
          border: 1px solid $white_B7;
          cursor: pointer;
          border-radius: 3px;
        }
      }

      .delivery-policy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $black_63;
        padding: 8px 8px;
        @include font_style(12px, $white, 400);

        .amount {
          display: flex;

          span {
            margin-left: 5px;
          }

          .info {
            cursor: pointer;
            padding-top: 2px;
          }
        }
      }

      .cart-item {
        height: calc(100vh - 280px);
        display: flex;
        align-items: center;
        justify-content: center;

        .cart-empty {
          img {
            width: 310px;
          }

          p {
            @include font_style(17px, $white_B7);
            text-align: center;
            margin: 0 15px;
          }
        }
        .product-item{

        }
      }
      .special-code-content{
        background: $white_F8;    
        border: solid;
        border-width: 1px 0;
        border-color: $white_E9;    
        .special-code-header{
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 30px;
          @include font_style(14px, $black_63);
          .icon{
            display: flex;
            margin-right: 5px;
            &.arrow-down {
              transform: rotate(-180deg);
            }
          }
          &:hover{
            background: $white_E7;
          }
        }
        .special-code-body{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          .input {
            width: 160px;
            height: 30px;
            outline: 0;
            border: 0;
            border-radius: 4px;
            text-align: center;
            background: $white_E9;
          }
          .btn-apply{
            border: 0;
            cursor: pointer;
            height: 30px;
            background: $red_6E;
            border-radius: 3px;
            margin: 0 8px;
            @include font_style(14px, $white, 500);
          }
          .btn-close{
            border: 0;
            cursor: pointer;
            height: 30px;
            background: $white_B7;
            border-radius: 3px;
            @include font_style(14px, #ffffff, 500);
          }
          &.hide{
            display: none;
          }
        }
      }
      .hotline-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        p{
          @include font_style(17px, $white_B7, 700);
        }
      }
    }
  }
}