.header-wrapper{
  .header-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background: $orange_93;
    border: 1px solid $orange_79;
    .nav-menu{
          margin-left: 8px;
          background: $orange_93;
          border: 1px solid $orange_93;
          border-radius: 4px;
          cursor: pointer;
          &:hover{
              background: $orange_79;
              border: 1px solid $orange_61;
          }         
    }
    .nav-brand{
        margin-left: 10px;
        img{
            width: 160px;
            height: 55px;
        }
    }
    .nav-search{
      width: 60%;
      height: 40px;
      display: flex;
      align-items: center;
      background: $white;
      border-radius: 3px;
      margin-right: 10px;
      input{
          width: 100%;
          height: 23px;;
          outline: none;
          line-height: normal;
          font-size: 14px;
          border:none;
          margin: 10px;
          font-family: "segoe-ui";
      }
      .search-btn{
        border: none;
        background-color: $white;
        cursor: pointer;
        svg{
          margin-right: 6px;
        }
      }
    }
    .nav-item {
      width: 120px;
      height: 52px;
      padding: 0 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $orange_79;        
      .nav-link{
        @include font_style(14px, $black_63, bold);
      }
      &.sign-in{
        background: #ff686e;
        .nav-link{
          @include font_style(14px, $white, bold);
        }
      }
      .locale{
        .nav-link{
          &:focus{
            color: #ff686e;
          }
        }
      }
    }
  }  
}