.menu-wrapper{
  border: 1px solid $white_E7;
  .menu-content{
      height: calc(100vh - 20px);
      overflow-y: auto;
      @include sidemenu_scrollbar();
      .menu-item{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 15px 0 70px 8px; 
          .menu-item-group{
              width: 206px;
              margin-top: 2px;
              cursor: pointer;
              .item-parent{  
                  height: 24px;                  
                  display: flex;
                  align-items: center;                    
                  img{
                      width: 20px;
                      margin-right: 10px;
                  }
                  a{
                    width: 100%;
                    @include font_style(13px, $black_63, 400);
                    &.nuxt-link-active {
                        color: $blue_B0;
                        font-weight: bold;
                    }
                  }                  
                  &:hover{
                    background: linear-gradient(to right,#fff 0,#ffc993 100%);
                  } 
              }  
              .item-child-group{
                    margin: 2px 0 0 10px;
                    border-left: 1px dotted $white_B7; 
                    display: none;
                    .item-child{  
                        display: flex;
                        align-items: center;                      
                        margin-left: 19px; 
                        cursor: pointer;                                      
                        a {
                            height: 16px;
                            width: 100%;
                            font-size: 14px;
                            color: #63666A;
                            padding: 4px 0;
                            @include font_style(13px, $black_63, 400);
                            &.nuxt-link-active {
                                color: $orange_61;
                                font-weight: 500;
                            }                            
                        }
                        &:hover{
                            background: linear-gradient(to right,#fff 0,#ffc993 100%);
                        } 
                    }
              }  
              .active{
                display: block;
                animation: displayDropdown 500ms linear;
              }
              @keyframes displayDropdown {
                from {opacity: 0;}
                to {opacity: 1;}
              }                      
          }
          .child-menu-icon{
              width: 13px !important;
              -moz-transition: all .2s linear;
              -webkit-transition: all .2s linear;
              transition: all .2s linear;
          }
          .rotate{
              -moz-transition: all .2s linear;
              -webkit-transition: all .2s linear;
              transition: all .2s linear;
              -moz-transform:rotate(90deg);
              -webkit-transform:rotate(90deg);
              transform:rotate(90deg);
          }
      }
    &.hide{
        display: none;
    }
    &.show{
        display: block;
    }
  }
}